<!DOCTYPE html>
<html lang="en">
<html lang="es" data-ng-app="agomez">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Web Personal">
<meta name="author" content="Alvaro Gomez-Arevalillo">

<title>Álvaro Gómez-Arevalillo Web</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/stylish-portfolio.css" rel="stylesheet">
<link href="css/agomez.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<link
	href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
	rel="stylesheet" type="text/css">


<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Utils JS -->
<script src="js/raphael-min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/agomez.js"></script>
<script src="js/utiles.js"></script>


<!-- Angular JS i18n -->
<script src="js/angular-translate.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"
	data-ng-controller="indexController">

	<!-- Navigation -->
	<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i
		class="fa fa-bars"></i></a>
	<nav id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<a id="menu-close" href="#"
				class="btn btn-light btn-lg pull-right toggle"><i
				class="fa fa-times"></i></a>
			<li class="sidebar-brand"><a href="#top" class="menu-opt">{{'HOME'
					| translate }}</a></li>
			<li><a href="#about" class="menu-opt">{{'ABOUT' | translate
					}}</a></li>
			<li><a id="cv-link" href="#cv" class="menu-opt">{{'CV' |
					translate }}</a></li>
			<li><a href="#portfolio" class="menu-opt">{{'PORTFOLIO' |
					translate }}</a></li>
			<li><a href="#sliders" class="menu-opt">{{'SLIDERS'|
					translate }}</a></li>
			<li><a href="#reccomendations" class="menu-opt">{{'RECCOMENDATIONS'|
					translate }}</a></li>
			<li><a href="#contact" class="menu-opt">{{'CONTACT'|
					translate }}</a></li>
			<a class="page-scroll" href="#contact"></a>
			<li role="presentation" class="dropdown"><a
				class="dropdown-toggle" data-toggle="dropdown" href="#"
				role="button" aria-haspopup="true" aria-expanded="false"
				translate="LANG"><span class="caret"></span> </a>
				<ul class="dropdown-menu dropdown-menu-lang">
					<li><button class="lang_button menu-opt"
							data-ng-click="changeLanguage('esp')">
							<img src="img/spain.png" /> {{'BUTTON_LANG_ES'| translate }}
						</button></li>
					<li><button class="lang_button menu-opt"
							data-ng-click="changeLanguage('eng')">
							<img src="img/english.png" /> {{'BUTTON_LANG_EN'| translate }}
						</button></li>
					<!-- 					<li><button class="btn lang_button" -->
					<!-- 							data-ng-click="changeLanguage('deu')"> -->
					<!-- 							<img src="img/deutsch.png" /> {{'BUTTON_LANG_DE'| translate }} -->
					<!-- 						</button></li> -->

				</ul></li>
		</ul>
	</nav>



	</nav>
	<!-- Header -->
	<header id="top" class="header">
		<div class="text-vertical-center">
			<div class="home-item">
				<img class="img-home img-responsive" src="./img/me62464864263.png">
			</div>
			<h2>Álvaro Gómez-Arevalillo</h2>
			<h4>Full Stack Web developer</h4>
		</div>
	</header>

	<!-- About -->
	<section id="about" class="about">
		<div class="container">
			<div class="row">
				<h2>{{'WELCOME_ABOUT' | translate }}</h2>
				<div class="col-lg-12 text-center">
					<p class="lead">{{'FIRST_PARAGRAPH_ABOUT' | translate }}</p>
					<p class="lead">{{'SECOND_PARAGRAPH_ABOUT' | translate }}</p>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>

	<!-- Curriculum -->
	<section id="cv" class="services bg-primary">
		<div class="container text-center">
			<div class="row">
				<h2>{{'CV'| translate }}</h2>
				<hr class="small">
				<div class="col-lg-3">
					<a id="skills_link" data-href="#target1" href="#cv" class="link-cv">{{'CV_SKILLS'|
						translate }}</a><br /> <a data-href="#target2" href="#cv"
						class="link-cv">{{'CV_EDUCATION'| translate }}</a><br /> <a
						data-href="#target3" href="#cv" class="link-cv">{{'CV_WORK'|
						translate }}</a><br />
					<!-- 									<a class="link-cv" href="./pdf/cv_esp.pdf" download>Descargar pdf</a><br /> -->


				</div>
				<div class="col-lg-9">
					<div class="panel-cv cv-item" id="target1">
						<div id="linguetta_next">
							<div class="skill_card skill_backEnd col-md-3">
								<p>Java</p>
							</div>
							<div class="skill_card skill_backEnd col-md-3">
								<p>C#</p>
							</div>
							<div class="skill_card skill_backEnd col-md-3">
								<p>PHP</p>
							</div>
							<div class="skill_card skill_frontEnd col-md-3">
								<p>Jquery</p>
							</div>
							<div class="skill_card skill_backEnd col-md-3">
								<p>Spring</p>
							</div>
							<div class="skill_card skill_BBDD col-md-3">
								<p>SQL</p>
							</div>
							<div class="skill_card skill_BBDD col-md-3">
								<p>MYSQL</p>
							</div>
							<div class="skill_card skill_frontEnd col-md-3">
								<p>D3.js</p>
							</div>
							<div class="skill_card skill_frontEnd col-md-3">
								<p>Javascript</p>
							</div>
							<div class="skill_card skill_frontEnd col-md-3">
								<p>CSS 3</p>
							</div>
							<div class="skill_card skill_frontEnd col-md-3">
								<p>HTML 5</p>
							</div>
							<div class="skill_card skill_frontEnd col-md-3">
								<p>Angular JS</p>
							</div>
							<div class="skill_card skill_server col-md-3">
								<p>Weblogic</p>
							</div>
							<div class="skill_card skill_server col-md-3">
								<p>Tomcat</p>
							</div>
							<div class="skill_card skill_server col-md-3">
								<p>Jetty</p>
							</div>
						</div>
					</div>
					<div class="panel-cv cv-item" id="target2">
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th colspan="2">{{'CV_INGENIERIA_INFORMATICA'| translate
											}}</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">{{'CV_DATES'| translate }}</th>
										<td>{{'MONTH_OCTOBER'| translate }} 2013 - {{'MONTH_NOW'|
											translate }}</td>
									</tr>
									<tr>
										<th scope="row">{{'PLACE'| translate }}</th>
										<td>{{'CV_UNIVERSIDAD_COMPLUTENSE'| translate }}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th colspan="2">{{'CV_GRADO_SUPERIOR'| translate }}</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">{{'CV_DATES'| translate }}</th>
										<td>{{'MONTH_OCTOBER'| translate }} 2011 -
											{{'MONTH_JUNE'| translate }} 2013</td>
									</tr>
									<tr>
										<th scope="row">{{'PLACE'| translate }}</th>
										<td>Instituto Virgen de la Paloma</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
					<div class="panel-cv cv-item" id="target3">
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th colspan="2">{{'CONSULTANT_IT'| translate }}</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">{{'CV_DATES'| translate }}</th>
										<td>{{'MONTH_DECEMBER'| translate }} 2014 -
											{{'MONTH_NOW'| translate }}</td>
									</tr>
									<tr>
										<th scope="row">{{'CV_WORK_EMPLOYER'| translate }}</th>
										<td>CRC Information Techonologies @IBERIA</td>
									</tr>
									<tr>
										<th scope="row">{{'CV_WORK_OCCUPATION'| translate }}</th>
										<td><p>{{'CV_WORK_IBERIA_0'| translate }}</p>
											<p>{{'CV_WORK_IBERIA_1'| translate }}</p>
											<p>{{'CV_WORK_IBERIA_2'| translate }}</p></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th colspan="2">{{'SOFTWARE_DEVELOPER'| translate }}</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">{{'CV_DATES'| translate }}</th>
										<td>{{'MONTH_JUNE'| translate }} 2013 -
											{{'MONTH_DECEMBER'| translate }} 2014</td>
									</tr>
									<tr>
										<th scope="row">{{'CV_WORK_EMPLOYER'| translate }}</th>
										<td>CRC Information Techonologies</td>
									</tr>
									<tr>
										<th scope="row">{{'CV_WORK_OCCUPATION'| translate }}</th>
										<td><p>{{'CV_WORK_OFFICE_0'| translate }}</p>
											<p>{{'CV_WORK_OFFICE_1'| translate }}</p>
											<p>{{'CV_WORK_OFFICE_2'| translate }}</p>
											<p>{{'CV_WORK_OFFICE_3'| translate }}</p></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Portfolio -->
	<section id="portfolio" class="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 text-center">
					<h2>My portfolio</h2>
					<hr class="small">
					<div class="row">
						<div class="col-md-5">
							<div class="portfolio-item">
								<a href="#"> <img class="img-portfolio img-responsive"
									src="./img/workOn.jpg">
								</a>

							</div>
						</div>
						<div class="col-md-7">
							<h4>Une de plus</h4>
							<p>{{'UN_DE_PLUS'| translate }}</p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="0"
									aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
									1%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- Presentaciones -->
	<section id="sliders" class="sliders bg-primary">
		<div class="container text-center">
			<div class="row">
				<h2>{{'SLIDERS' | translate }}</h2>
				<hr class="small">
				<div class="row">
					<div class="col-md-4">
						<div class="portfolio-item">
							<a href="./downloadables/D3.pdf" download> <img
								class="img-portfolio img-responsive" src="./img/diagram.png">
							</a>

						</div>
						<h2>D3.JS</h2>
						<p>{{'D3_JS'| translate }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<div class="container" id="contact">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h3>
						<strong>{{'CONTACT'| translate }} 
					</h3>
					</strong>
					<div class="row contact-row ">
						<div class="col-lg-4 text-center contact-item">
							<a href="{{'LINKEDIN_LINK' | translate }}"><span><i
									class="fa fa-linkedin-square md-62"></i></span> <span><h4>LinkedIn</h4></span>
							</a>
						</div>
						<div class="col-lg-4 text-center contact-item">
							<span><i
								class="fa fa-street-view ubication_item_color md-62"></i></span> <span><h4>Madrid,
									{{'SPAIN' | translate }}</h4></span>
						</div>
						<div class="col-lg-4 text-center contact-item">
							<a href="https://github.com/agomeza"><span><i
									class="fa fa-github md-62"></i></span> <span><h4>GIT HUB</h4></span> </a>
						</div>
					</div>
					<hr class="small">
					<p class="text-muted" id="last_synchronization">{{'LAST_UPDATE'|
						translate }}</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script>
		// Closes the sidebar menu
		$("#menu-close").click(function(e) {
			e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
		});

		// Opens the sidebar menu
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
		});

		// Closes the sidebar lang menu
		$("#lang-close").click(function(e) {
			e.preventDefault();
			$("#sidebar-wrapper-lang").toggleClass("active");
		});

		// Opens the sidebar lang menu
		$("#lang-toggle").click(function(e) {
			e.preventDefault();
			$("#sidebar-wrapper-lang").toggleClass("active");
		});

		// Scrolls to the selected menu item on the page
		$(function() {
			$('a[href*=#]:not([href=#])')
					.click(
							function() {
								if (location.pathname.replace(/^\//, '') == this.pathname
										.replace(/^\//, '')
										|| location.hostname == this.hostname) {

									var target = $(this.hash);
									target = target.length ? target
											: $('[name=' + this.hash.slice(1)
													+ ']');
									if (target.length) {
										$('html,body').animate({
											scrollTop : target.offset().top
										}, 1000);
										return false;
									}
								}
							});
		});

		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-66663463-1', 'auto');
		  ga('send', 'pageview');

		
		$(".menu-opt").click(function() {
			$("#menu-close").click();
		});
	</script>

</body>

</html>